html,body {
     font-family: "Varela Round", sans-serif;
     padding: 0;
     margin: 0;
     overflow-x: hidden;
     width: 100%;
     /* height: 100%; */
     scroll-behavior: smooth;
  
}

      /* Navbar css */

.navbar {
  
    background-color: #fffffff2;
    height: 81.09px;
    flex-wrap: nowrap !important;
    margin-bottom: 10px;
    padding: 45px 0 !important;
    position: fixed !important;
    width: 100%;
     box-shadow: 1px 1px 25px rgb(201, 200, 200);
   
     z-index: 100;
}

 .logo img {
    width: 126.39px;
    margin-left: 2rem;
    cursor: pointer;

  
}

 .nav-items .item{
    text-decoration: none;
    color: #999999;
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    margin: 0 12px;
    letter-spacing: 1px;
    transition: all  0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
   
}
#seperate-item {
    text-decoration: none;
    color: #999999;
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    margin: 0 12px;
    letter-spacing: 1px;
    transition: all  0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.nav-items .item:hover {
   color: #999999;
   border-bottom: 2px solid rgb(0, 89, 255);
} 


.nav-items .item:active {
   color: #999999;
   border-bottom: 2px solid rgb(0, 89, 255);
}  


 .nav-items a i {
    font-size: 40px;
    color: rgb(241, 134, 11);
 }

 a .btn-primary {
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    border-radius: 20px;
    padding: 5px 23px 5px 23px;
    margin-right: 3rem;
    margin-bottom: 1rem;

 } 

 #butt {
     transition: all  0.3s ease-in-out;
   
 }

 #butt:hover{
     border-bottom: 2px solid transparent;
     opacity: 0.8;
 }
 
#arrow {
    font-size: 8px;
    position: relative;
    bottom: 7px;
    left: 5px;
     color: #696464;
     font-weight: 800;

}

.hamburger {
   display: none;
} 

.offcanvas-body {
   display: flex ;
   flex-direction: column;
   background-color: #1e83ec;
   padding-top: 15px;

}

.offcanvas-body a {
   text-decoration: none;
   color: rgb(202, 202, 202);
    font-weight: 800!important;
     font-size: 3rem;
    text-align: center;
   
      font-family: "Open Sans", sans-serif;
      letter-spacing: 1px;
       transition: all 0.3s linear;
}

.offcanvas-body a:hover {
  color: white;
}

#offcanvasTop {
   height: 100%;
   transition: all 0.9s linear;
   padding-top: 10px;
}

#offcanvasTop:active {
   transform: translateY(20px);
}

.offcanvas-header {
   padding: 0 10px 0 10px !important;
}

.btn-close {
   padding-left: 2rem !important;
}
.offcanvas-title img {
   width: 110.39px;
   
    cursor: pointer;
}

.toggler-button {
   border: none;
   background-color: white;
   color: #a8a6a6;
   font-size: 1.5rem;
   padding-right: 2rem;
}

         /* Navbar dropdown css */

.nav-items .item .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 10px 15px;
    width: 230px;
    height: 120px;
    background-color: white; 
    margin: 10px;
    box-shadow: 1px 1px 10px rgb(201, 200, 200);
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    transition-duration: 0.9s;
   
} 
.nav-items .item:hover .dropdown {
  display: flex;
}

.nav-items .item:active .dropdown {
  display: flex;
}
  
.dropdown p {
  
   padding: 8px 8px 8px 10px;
   width: 200px;
   color: #a8a6a6;
   margin-bottom: 3px;
  
}

.dropdown p:hover {
     color: white;
      background-color: #1e83ec;
}

      /* Navbar responsinvenes */

@media screen and (max-width:1254px) {
   
 .logo img {
    margin-left: 1rem;
}

 .nav-items .item{
    font-size: 0.9rem;
    margin: 0 5px;
   
}
 #seperate-item {
    font-size: 0.9rem; 
    margin: 0 5px;
   
}

 a i {
    font-size: 33px;
 }

 a .btn-primary {
    font-size: 0.9rem;
    padding: 3px 20px 3px 20px;
    margin-right: 2rem;
   
 } 
}

@media screen and (max-width:1004px) {
   .hamburger{
      display: flex;
   }

   .nav-items .item {
      display: none;
   }
   
    .logo img {
    margin-left: 2rem;
}
}
        /* social Icons css */

   .icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  right: 40px;
  z-index: 999;
  align-items: flex-end; 
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
   
}

.icon img {
  width: 56px;
  cursor: pointer;
 
}



.icon-name {
  font-family: "Varela Round", sans-serif;
  background: #ffffff;
  color: #000000;
  font-size: 16px;
  padding: 8px 15px;
  box-shadow: 3px 1px 5px rgba(0,0,0,0.2);
  margin-right: 13px;
  opacity: 0;
  transform: translateX(-20px); 
  transition: all 0.3s ease-in-out;

}


.icon:hover .icon-name {
  opacity: 1;
  transform: translateX(0); 
}


/* carousal css and responsiveness */

.carousel-item img {
  max-width: 100% !important;
  height: 100vh;
  /* object-fit: cover; */
}

#myCarousel {
  position: absolute;
  top: 0%;
}



    /* about us section css and responsivenees */

    
#sec2 {
  position: relative;
  z-index: 10;
  padding: 100px 20px;
  margin-top: 100vh;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#about-heading {
  color: #1e83ec;
  font-weight: 900;
  
}

#about-para {
  font-size: 20px;
}

#read-more-btn {
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 900;
  background-color: transparent;
  font-size: 15px;
}

#about-imgs-cont-cont {
  display: flex;
  justify-content: center;
}

#about-imgs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.box-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.394));
  z-index: 1000;
}

.box-bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.526) 15%, rgba(0, 0, 0, 0.435) 40%, transparent 70%);
  z-index: 1;
  transition: background 0.7s ease;
}

.box-bg:hover::after {
  background: linear-gradient(to top,
      #007bff 0%,
      #1e81ecb3 40%,
      #1e81ec80 70%,
      transparent 100%);
}

.box-bg img {
  width: 700px;
  flex: 1 1 300px;
}

#box-bg-content {
  width: 100%;
  display: inline;
  align-self: flex-end;
  width: fit-content;
  position: absolute;
  color: white;
  z-index: 2;
  text-align: left;
  font-family: "Hind", sans-serif;
  font-weight: bolder;
  font-style: normal;
  margin-left: 30px;
  margin-right: 30px;
}

#box-bg-content .icon {
  font-size: 40px;
}

#box-bg-content p {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  opacity: 0;
  max-height: 0;
  transform: translateY(10px);
  transition: all 0.5s ease ;

}

#box-bg-content:hover p {
opacity: 1;
max-height: 250px;
transform: translateY(0)
 
}

#box-bg-content h1 {
  font-size: 35px;
  
}

   /* our potential section css and responsiveness */

#sec3 {
  font-family: var;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  padding: 60px 20px;
}

#sec3-heading {
  color: #1e83ec;
  font-weight: 900;
  animation: backInUp;
  animation-duration: 2s;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 50px;
}

.sec3-content h1 {
  color: #DD9933;
  font-size: 62px;
  margin: 0;

}

.sec3-content span {
  font-size: 30px;

}

.sec3-content p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 8px;
}

#sec3-content-parent {
  display: grid;
  gap: 30px;
  justify-content: center;
}

.sec3-content {
  background-color: transparent;
  padding: 10px;
  max-width: 250px;
  margin: 0 auto;
}

/* Grid Layouts - Responsive */
@media (min-width: 992px) {
  #sec3-content-parent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  #sec3-content-parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec3-content h1 {
    color: #DD9933;
    font-size: 58px;
    margin: 0;

  }

  .sec3-content span {
    font-size: 26px;

  }

}

@media (max-width: 599px) {
  #sec3-content-parent {
    grid-template-columns: 1fr;
  }

  .sec3-content h1 {
    color: #DD9933;
    font-size: 52px;
    margin: 0;

  }

  .sec3-content span {
    font-size: 20px;

  }

}   


    /* blog section css */

#sec4 {
  padding: 100px 20px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 70%;
  align-self: center;
  margin-left: 15%;
}

#blog-heading {
  color: #1e83ec;
  font-weight: 900;
  animation: backInUp;
  animation-duration: 2s;
  
}

.card-body {
  padding-left: 30px;
  padding-right: 30px;
}

.card-body h3 {
  color: black !important;
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-variation-settings: "wdth" 100 !important;
}

.card-body p {
  color: rgb(78, 78, 78) !important;
  font-family: "Varela Round", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings: "wdth" 100 !important;
}

.text-body-secondary {
  font-family: 'Times New Roman', Times, serif !important;
  background-color: transparent;
  border-radius: 0%;
}

.read-btn {
  margin-top: 30px;
}

.card {
  cursor: pointer;
}

.card img {
  transition: 0.3s ;
}

.card img:hover {
  transform: scale(1.01);
}    

     /* Events section css and reponsiveness */

#sec5 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: center;
  text-align: center;
}

#event-gallery {
 max-width: 95%;
  overflow: hidden;
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  /* text-align: left; */
}

.event-gallery-cards img {
  width: 96% !important;

}

.event-gallery-cards p {
  font-family: "Raleway", sans-serif;
}

.addition {
  margin-top: 2px !important;
  margin-bottom: 80px;
  font-family: "Varela Round", sans-serif !important;
  font-weight: 500 !important;
}

@media (max-width: 443px) {
  .addition {
    transform: scale(0.6);
  }
}     

     /* Career section css and responsiveness */

#sec6 {
    background-image: url('assets/career-bg-img.jpg');
   background-size: cover; 
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: center;
}

#careers {

   
  max-height: 100%;   
  max-width: 100%;
   margin-left: 5%;
   margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px 30px 150px;
}

#careers img {
  width: 70%;
}

#careers-heading {
  color: #1e83ec;
  font-weight: 900;
  animation: backInUp;
  animation-duration: 2s;
}

#careers p {
  font-family: "Raleway", sans-serif;
}

.apply-addition {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important;
}

#careers-content {
  width: 100%;
  margin-right: 60px;
}

@media (max-width: 1190px) {
  #careers {
    display: block;
     margin-left: 0;
   margin-right: 0;
     width: 100%;
      padding: 30px 40px 30px 50px;
  }

  #careers img {
    width: 100%;
    margin-top: 30px;
  
  }

}

      /* Contact section css and responsiveness */

#sec7 {
  margin-left: 15%;
  margin-top: 3%;
 
}

#sec7 h2 {
  color: #1e81ec;
  font-size: 3rem  !important;
  font-weight: 700;
  text-align: start;
  margin-left: 0;
  margin-bottom: 5%;
 
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

input {
  padding: 12px;
  border: none;
  background: #f5f5f5;
  font-size: 14px;
}

form button {
  grid-column: span 2;
  justify-self: start;
  padding: 5px 15px;
  border: 2px solid #1e81ec;
  background: white;
  color: #1e81ec;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #1e81ec;
  color: white;
}

@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }

  form button {
    grid-column: span 1;
    justify-self: center;
  }
}

      /* Brands section css andd responasiveness */

#sec8 h2 {
  color: #1e81ec;
    font-size: 3rem  !important;
  font-weight: 700;
  text-align: center;

  margin-bottom: 5%;
 
  margin-top: 3%;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 20px 0;
}

.carousel-track {
  display: flex;

  justify-content: center;
  gap: 50px;
}

.carousel-track img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

/* Fake arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: default;
}

.arrow.left {
  left: 5px;
}

.arrow.right {
  right: 5px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 6px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid black;
}

.dot.active {
  background: black;
}

@media (max-width: 910px){
  .carousel-track {
    flex-direction: column;
    align-items: center;

}
.arrow.left {
 opacity: 0;
}

.arrow.right {
 opacity: 0;
}

#sec8 h2 {
 
  font-size: 2.5rem  !important;
  font-weight: 600;
  margin-left: 3%;

 
}
}

   /* location section css and responsiveness */

   h1 {

    color: #1e81ec;
    font-size: 3rem  !important;
  font-weight: 700 !important;
  text-align: center;
  margin-top: 7% !important;
}

.map-wrap {
  max-width: 100%;
  margin: 30px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

.map-iframe {
  width: 100%;
  height: 500px;
  border: 0;
  display: block;
}

@media (max-width:600px) {
  .map-iframe {
    height: 320px;
  }
}


footer {
  background: #fff;
  padding: 50px 20px;
  border-top: 1px solid #ddd;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-logo img {
  width: 300px;
  margin-bottom: 50px;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}

.footer-col h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-col p {
  font-size: 16px;
  color: #979595;
  line-height: 2;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a  {
  text-decoration: none;
  color: #555 !important;
 
  font-size: 14px;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #f7941d;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-col {
    min-width: 100%;
  }
}

.bottom-footer {
  background: #1c1c1c;
  color: #aaa;
  text-align: center;
  padding:  10px;
  padding-top: 5%;
  margin-bottom: 0%;
  width: 100%;
  height: 200px;
 
}

.bottom-footer p {
  margin-bottom: 15px;
  font-size: 14px;
}


.social-icons a i {
  color: #aaa;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: white;
}