html,body {
     font-family: "Varela Round", sans-serif;
     padding: 0;
     margin: 0;
     overflow-x: hidden;
     width: 100%;
     /* height: 100%; */
     scroll-behavior: smooth;
  
}

      /* Navbar css */

.navbar {
  
    background-color: #fffffff2;
    /* height: 81.09px; */
    height: 10%;
    flex-wrap: nowrap !important;
    margin-bottom: 10px;
    padding: 45px 0 !important;
    position: fixed !important;
    width: 100%;
     box-shadow: 1px 1px 25px rgb(201, 200, 200);
   
     z-index: 100;
}

 .logo img {
    width: 126.39px;
    margin-left: 2rem;
    cursor: pointer;

  
}

 .nav-items .item{
    text-decoration: none;
    color: #999999;
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    margin: 0 12px;
    letter-spacing: 1px;
    transition: all  0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
   
}
#seperate-item {
    text-decoration: none;
    color: #999999;
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    margin: 0 12px;
    letter-spacing: 1px;
    transition: all  0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.nav-items .item:hover {
   color: #999999;
   border-bottom: 2px solid rgb(0, 89, 255);
} 


.nav-items .item:active {
   color: #999999;
   border-bottom: 2px solid rgb(0, 89, 255);
}  


 .nav-items a i {
    font-size: 40px;
    color: rgb(241, 134, 11);
 }

 a .btn-primary {
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    border-radius: 20px;
    padding: 5px 23px 5px 23px;
    margin-right: 3rem;
    margin-bottom: 1rem;

 } 

 #butt {
     transition: all  0.3s ease-in-out;
   
 }

 #butt:hover{
     border-bottom: 2px solid transparent;
     opacity: 0.8;
 }
 
#arrow {
    font-size: 8px;
    position: relative;
    bottom: 7px;
    left: 5px;
     color: #696464;
     font-weight: 800;

}

.hamburger {
   display: none;
} 

.offcanvas-body {
   display: flex ;
   flex-direction: column;
   background-color: #1e83ec;
   padding-top: 15px;

}

.offcanvas-body a {
   text-decoration: none;
   color: rgb(202, 202, 202);
    font-weight: 800!important;
     font-size: 3rem;
    text-align: center;
   
      font-family: "Open Sans", sans-serif;
      letter-spacing: 1px;
       transition: all 0.3s linear;
}

.offcanvas-body a:hover {
  color: white;
}

#offcanvasTop {
   height: 100%;
   transition: all 0.9s linear;
   padding-top: 10px;
}

#offcanvasTop:active {
   transform: translateY(20px);
}

.offcanvas-header {
   padding: 0 10px 0 10px !important;
}

.btn-close {
   padding-left: 2rem !important;
}
.offcanvas-title img {
   width: 110.39px;
   
    cursor: pointer;
}

.toggler-button {
   border: none;
   background-color: white;
   color: #a8a6a6;
   font-size: 1.5rem;
   padding-right: 2rem;
}

         /* Navbar dropdown css */

.nav-items .item .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 10px 15px;
    width: 230px;
    height: 120px;
    background-color: white; 
    margin: 10px;
    box-shadow: 1px 1px 10px rgb(201, 200, 200);
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    transition-duration: 0.9s;
   
} 
.nav-items .item:hover .dropdown {
  display: flex;
}

.nav-items .item:active .dropdown {
  display: flex;
}
  
.dropdown p {
  
   padding: 8px 8px 8px 10px;
   width: 200px;
   color: #a8a6a6;
   margin-bottom: 3px;
  
}

.dropdown p:hover {
     color: white;
      background-color: #1e83ec;
}

      /* Navbar responsinvenes */

@media screen and (max-width:1254px) {
   
 .logo img {
    margin-left: 1rem;
}

 .nav-items .item{
    font-size: 0.9rem;
    margin: 0 5px;
   
}
 #seperate-item {
    font-size: 0.9rem; 
    margin: 0 5px;
   
}

 a i {
    font-size: 33px;
 }

 a .btn-primary {
    font-size: 0.9rem;
    padding: 3px 20px 3px 20px;
    margin-right: 2rem;
   
 } 
}

@media screen and (max-width:1004px) {
   .hamburger{
      display: flex;
   }

   .nav-items .item {
      display: none;
   }
   
    .logo img {
    margin-left: 2rem;
}

  .offcanvas-body a{
   font-size: 2rem;
   padding-bottom: 20px;

}
.offcanvas-body {
 
   justify-content: center;
}
}
        /* social Icons css */

   .icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  right: 40px;
  z-index: 999;
  align-items: flex-end; 
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
   
}

.icon img {
  width: 56px;
  cursor: pointer;
 
}



.icon-name {
  font-family: "Varela Round", sans-serif;
  background: #ffffff;
  color: #000000;
  font-size: 16px;
  padding: 8px 15px;
  box-shadow: 3px 1px 5px rgba(0,0,0,0.2);
  margin-right: 13px;
  opacity: 0;
  transform: translateX(-20px); 
  transition: all 0.3s ease-in-out;

}


.icon:hover .icon-name {
  opacity: 1;
  transform: translateX(0); 
}

